* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*Navegador*/
header {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #42b3ff);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
  width: auto; }

.header-logoimg {
  width: 100px;
  margin-left: 0px; }

.navbar li a {
  color: white !important;
  text-align: left !important;
  padding: 0.5rem !important;
  font-size: 1.6rem !important; }
  .navbar li a:hover {
    background-color: #414141; }

.dropdown-item:hover {
  background-color: #414141; }

nav button {
  margin: 5px; }

/*redes flotantes*/
.redes-flotantes {
  display: none; }

/*index*/
.principal1 {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .principal1 img {
    width: 100%;
    animation: entrada 700ms ease-in; }

.arduino-index0 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem;
  margin: 2.5rem; }
  .arduino-index0 h1 {
    font-size: 2.5rem;
    color: #F28E23;
    text-align: center;
    padding: 0.93rem;
    text-align: center; }
  .arduino-index0 p {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem; }
  .arduino-index0 article {
    display: flex;
    flex-direction: column;
    align-items: center; }

.placa-div img {
  width: 100%; }

#logo-arduino-negro {
  width: 150px; }

/*footer*/
.footer-arduino {
  justify-items: center; }
  .footer-arduino section {
    background-color: #F28E23;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center; }
  .footer-arduino article {
    padding-left: 0px; }
  .footer-arduino p {
    text-align: center;
    color: white;
    font-size: 1.2rem; }

/*titulo con imagen*/
.titulo {
  color: white;
  padding: 6.25rem;
  background-image: url(../imagenes/talleres/imgTitulo2.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0.93rem; }
  .titulo h1 {
    font-size: 3.1rem;
    text-align: center; }

/*quienes somos*/
.quienessomos-section1 {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  gap: 2rem;
  margin: 3rem; }

.quienessomos-main h2 {
  font-size: 2em;
  color: #F28E23;
  text-align: center; }

.quienessomos-main h3 {
  font-size: 1.8rem;
  text-align: center; }

.quienessomos-main img, .quienessomos-main article {
  width: 100%; }

.quienessomos-main p {
  height: 70px;
  font-size: 1.6rem;
  text-align: center; }

/*talleres*/
@keyframes entrada {
  from {
    opacity: 0;
    transform: scale(0.3); }
  to {
    opacity: 1;
    transform: scale(1); } }

.talleres-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 3.125rem; }
  .talleres-main img {
    width: 100%; }
  .talleres-main div {
    height: 100%; }
  .talleres-main h2 {
    font-size: 2em;
    color: #F28E23;
    text-align: center; }
  .talleres-main p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 0 1.5rem; }
  .talleres-main article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem; }
  .talleres-main section {
    animation: entrada 700ms ease;
    animation-fill-mode: backwards;
    --stagger-delay: 100ms;
    transition: transform .2s; }
    .talleres-main section:hover {
      transform: scale(1.08); }
    .talleres-main section:nth-child(1) {
      animation-delay: calc(1 * var(--stagger-delay)); }
    .talleres-main section:nth-child(2) {
      animation-delay: calc(2 * var(--stagger-delay)); }
    .talleres-main section:nth-child(3) {
      animation-delay: calc(3 * var(--stagger-delay)); }
    .talleres-main section:nth-child(4) {
      animation-delay: calc(4 * var(--stagger-delay)); }

.talleres-boton {
  border: none;
  padding: 12px;
  color: white;
  background-color: rgba(18, 90, 246, 0.657);
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 100%; }
