@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  height: 100%;
  padding: 1rem; }

.boton, .contacto-boton {
  border: none;
  padding: 12px;
  color: white;
  background-color: rgba(18, 90, 246, 0.657);
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  font-weight: bold; }

/*Navegador*/
header {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #42b3ff);
  background-size: cover;
  margin-bottom: 15px;
  width: auto; }

.header-logoimg {
  width: 100px;
  margin-left: 0px; }

.navbar li a {
  color: white !important;
  text-align: left !important;
  padding: 0.5rem !important;
  font-size: 1.6rem !important; }
  .navbar li a:hover {
    background-color: #414141; }

.dropdown-item:hover {
  background-color: #414141; }

nav button {
  margin: 5px; }

#navbarNavDropdown, .dropdown-menu, .navbar-toggler {
  background-color: #F28E23; }

/*redes flotantes*/
.redes-flotantes {
  display: none; }
  @media screen and (min-width: 600px) {
    .redes-flotantes {
      display: none; } }
  @media screen and (min-width: 800px) {
    .redes-flotantes {
      display: grid;
      position: fixed;
      top: 0;
      right: 0;
      margin-top: 7rem;
      margin-right: 15px; } }

@media screen and (min-width: 800px) {
  .redes-img {
    width: 2.5rem;
    opacity: 0.5; }
    .redes-img:hover {
      opacity: 1; } }

/*footer*/
.footer-arduino section {
  background-color: #F28E23;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px; }

.footer-arduino article {
  padding-left: 20px; }

.footer-arduino p {
  color: white;
  font-size: 1.2rem;
  max-width: 350px; }

.footer-arduino li {
  list-style: none;
  color: white;
  font-size: 1.1rem;
  padding-top: 0.5rem; }

.footer-arduino h5 {
  color: white;
  font-size: 1.2rem; }

.footer-logo {
  width: 100px; }

.footer-redes img {
  width: 30px;
  opacity: 1; }

.footer-contacto a, .footer-links a, .footer-dev a {
  text-decoration: none;
  color: white; }
  .footer-contacto a:hover, .footer-links a:hover, .footer-dev a:hover {
    color: black; }

/*titulo con imagen*/
.titulo {
  color: white;
  padding: 6.25rem;
  background-image: url(../imagenes/talleres/imgTitulo2.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0.93rem; }
  .titulo h1 {
    font-size: 3.1rem;
    text-align: center; }

/*index*/
.principal1 img {
  width: 100%;
  animation: entrada 700ms ease-in; }

.placa-div img {
  width: 100%; }

#logo-arduino-negro {
  width: 150px; }

.arduino-index0 {
  margin: 2.5rem; }
  .arduino-index0 h1 {
    font-size: 2.7rem;
    color: #F28E23;
    text-align: center;
    padding: 0.93rem; }
  .arduino-index0 p {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem; }
  .arduino-index0 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }

/*quienes somos*/
.quienessomos-section1 {
  display: grid;
  gap: 2rem;
  margin: 3rem; }

.quienessomos-main h2 {
  font-size: 2.2rem;
  color: #F28E23;
  text-align: center; }

.quienessomos-main h3 {
  font-size: 2.2rem;
  text-align: center; }

.quienessomos-main img, .quienessomos-main article {
  width: 100%; }

.quienessomos-main img {
  padding: 2rem; }

.quienessomos-main p {
  font-size: 1.6rem;
  text-align: center; }

@keyframes entrada {
  from {
    opacity: 0;
    transform: scale(0.3); }
  to {
    opacity: 1;
    transform: scale(1); } }

.talleres-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 3.125rem; }
  .talleres-main img {
    width: 100%; }
  .talleres-main div {
    height: 100%; }
  .talleres-main h2 {
    font-size: 2.2rem;
    color: #F28E23;
    text-align: center; }
  .talleres-main p {
    font-size: 1.2rem;
    padding: 0 0 1.5rem; }

/*Arduino básico*/
.arduinobasico-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 1.5rem; }
  .arduinobasico-videos iframe {
    width: 100%; }

.arduino-basico-continuacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.arduinobasico-main p {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.625rem; }

.arduinobasico-main section {
  padding: 0.625rem; }

.arduinobasico-main img {
  width: 150px; }

/*contacto*/
.contacto-main {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr .5fr;
  grid-row-gap: 15px;
  grid-column-gap: none; }
  @media screen and (min-width: 800px) {
    .contacto-main {
      margin: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 1.25rem;
      grid-column-gap: 1.25rem; } }

.form-article {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }
  .form-article label {
    font-size: 1.1rem;
    font-weight: bold; }
  @media screen and (min-width: 800px) {
    .form-article {
      grid-row: 1 / 3;
      padding: 20px; } }

.contacto-datos {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }
  .contacto-datos p {
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 15px; }
  @media screen and (min-width: 800px) {
    .contacto-datos {
      grid-column: 2 / 3;
      grid-row: 1 / 2; } }

.contacto-mapa {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }
  .contacto-mapa iframe {
    width: 100%;
    padding: 15px; }
  @media screen and (min-width: 800px) {
    .contacto-mapa {
      grid-column: 2 / 3;
      grid-row: 2 / 3; } }

.contacto-comentario {
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border-color: rgba(2, 2, 2, 0.472);
  width: 300px;
  height: 300px; }
  @media screen and (min-width: 800px) {
    .contacto-comentario {
      height: 300px; } }

.contacto-boton {
  border-radius: 10px;
  margin: 10px;
  width: 30%; }
  .contacto-boton:hover {
    background-color: rgba(18, 90, 246, 0.897); }

/*Descargas*/
.descargas-main {
  margin-left: 1rem;
  margin-right: 1rem; }
  .descargas-main h2 {
    font-size: 2.2rem;
    color: #F28E23;
    text-align: center; }
  .descargas-main p {
    font-size: 1.6rem;
    text-align: center; }
  .descargas-main ul {
    margin-left: 6.25rem;
    margin-bottom: 0.93rem; }
    .descargas-main ul li {
      padding: 1rem;
      font-size: 1.2rem;
      list-style-image: url(../imagenes/Iconos-isometricos/32/arduino_uno_1_32.png); }
      @media screen and (min-width: 600px) {
        .descargas-main ul li {
          padding: 1.87rem; } }

@media screen and (min-width: 600px) {
  .header-logoimg {
    width: 150px;
    margin-left: 30px; } }

@media screen and (min-width: 800px) {
  .footer-arduino section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr; }
    .footer-arduino section p {
      text-align: left; }
    .footer-arduino section .footer-logodescripcion {
      grid-column: 1/3;
      grid-row: 1/2; }
    .footer-arduino section .footer-contacto {
      grid-column: 3/4;
      grid-row: 1/2; }
    .footer-arduino section .footer-links {
      grid-column: 4/5;
      grid-row: 1/2; }
    .footer-arduino section .footer-dev {
      grid-column: 1/3;
      grid-row: 2/3;
      align-self: end; }
    .footer-arduino section .footer-redes {
      grid-column: 4/5;
      grid-row: 2/3;
      align-self: end; }
    .footer-arduino section .footer-redes img {
      opacity: 0.5; }
      .footer-arduino section .footer-redes img:hover {
        opacity: 1; } }

@media screen and (min-width: 800px) {
  .titulo h1 {
    text-align: left; } }

@media screen and (min-width: 800px) {
  .arduino-index0 {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .arduino-index0 h1 {
      font-size: 2.7rem;
      color: #F28E23;
      text-align: center;
      padding: 0.93rem; }
    .arduino-index0 p {
      font-size: 1.6rem;
      text-align: center;
      padding: 1rem; }
    .arduino-index0 article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; } }

@media screen and (min-width: 800px) {
  #logo-arduino-negro:hover {
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: .4s; }
  @keyframes moving {
    0% {
      transform: rotate(0deg); }
    25% {
      transform: rotate(10deg); }
    50% {
      transform: rotate(0deg); }
    75% {
      transform: rotate(-10deg); }
    100% {
      transform: rotate(0deg); } } }

@media screen and (min-width: 600px) {
  .quienessomos-section1 {
    display: grid;
    grid-template-areas: "a a a" "b c d" "e e e" "f g h";
    grid-template-columns: repeat(3, 1fr); }
    .quienessomos-section1 article {
      padding: .5rem; }
      .quienessomos-section1 article:nth-child(1) {
        grid-area: a; }
      .quienessomos-section1 article:nth-child(2) {
        grid-area: b; }
      .quienessomos-section1 article:nth-child(3) {
        grid-area: c; }
      .quienessomos-section1 article:nth-child(4) {
        grid-area: d; }
      .quienessomos-section1 article:nth-child(5) {
        grid-area: e; }
      .quienessomos-section1 article:nth-child(6) {
        grid-area: f; }
      .quienessomos-section1 article:nth-child(7) {
        grid-area: g; }
      .quienessomos-section1 article:nth-child(8) {
        grid-area: h; } }

@media screen and (min-width: 600px) {
  .talleres-main {
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 1000px) {
  .talleres-main {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .talleres-main section {
      animation: entrada 700ms ease;
      animation-fill-mode: backwards;
      transition: transform .2s; }
      .talleres-main section:hover {
        transform: scale(1.08); }
      .talleres-main section:nth-child(1) {
        animation-delay: 100ms; }
      .talleres-main section:nth-child(2) {
        animation-delay: 200ms; }
      .talleres-main section:nth-child(3) {
        animation-delay: 300ms; }
      .talleres-main section:nth-child(4) {
        animation-delay: 400ms; }
      .talleres-main section .boton:hover, .talleres-main section .contacto-boton:hover {
        background-color: rgba(18, 90, 246, 0.897); } }

@media screen and (min-width: 1050px) {
  .arduinobasico-videos {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (min-width: 800px) {
  #boton-youtube:hover {
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: .4s; } }

@media screen and (min-width: 600px) {
  .descargas-main {
    margin-left: 3.125rem;
    margin-right: 3.125rem; } }
