$font-size-h1: map-get($heading, h1);
$font-size-h2: map-get($heading, h2);
$font-size-p: map-get($heading, p);
$font-size-p2:map-get($heading, p2);
$color-font: map-get($colors, font1);
$color-font2:  map-get($colors, font2);
$min-w: 600px;
$color-bg-button:  map-get($colors, button);
$color-bg-button-hover:  map-get($colors, button-h);
$color-font-button:  map-get($colors, font2);
$delay: 100ms;
$border-top: 1px solid $color-font2;




