* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@import "variables";

/*Navegador*/

header {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(66, 179, 255));
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    width: auto;
  }

.header-logoimg {
    width: 100px;
    margin-left: 0px;
} 

.navbar li a {
    color: $color-font2 !important;
    text-align: left!important;
    padding: 0.5rem !important;
    font-size: $font-size-p !important;

    &:hover {
        background-color: rgb(65, 65, 65);
    }
}

.dropdown-item:hover {
    background-color: rgb(65, 65, 65);
}
  
nav button {
    margin: 5px;
}

/*redes flotantes*/
.redes-flotantes {
    display: none;
}
  
/*index*/

.principal1 {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img {
        width: 100%;
        animation: entrada 700ms ease-in;
  }
}

.arduino-index0 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1.25rem;
    margin: 2.5rem;

    h1 {
        font-size: 2.5rem;
        color: $color-font; 
        text-align: center;
        padding: 0.93rem;
        text-align: center;
    } 
    
    p {
        font-size: $font-size-p;
        text-align: center;
        padding: 1rem;
      }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.placa-div img {
    width: 100%;
}

#logo-arduino-negro {
    width: 150px;
}

/*footer*/

.footer-arduino {
    justify-items: center;
    
    section{
        background-color: $color-font;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }

    article {
        padding-left: 0px;
    }

    p {
        text-align: center;
        color: $color-font2;
        font-size: $font-size-p2;
    } 
}

/*titulo con imagen*/

.titulo {
    color: $color-font2;
    padding: 6.25rem;
    background-image: url(../imagenes/talleres/imgTitulo2.jpg);
    background-size: cover;
    background-position: center; 
    margin-bottom: 0.93rem;
    
    h1 {
        font-size: 3.1rem;
        text-align: center;
    }
}

/*quienes somos*/

.quienessomos-section1 {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    gap: 2rem;
    margin: 3rem;
}

.quienessomos-main {
    h2 {
        font-size: $font-size-h2;
        color: $color-font;
        text-align: center;
      }

    h3 {
        font-size: 1.8rem;
        text-align: center;
    } 

    img, article {
        width: 100%;
    }

    p {
        height: 70px;
        font-size: $font-size-p;
        text-align: center;
    }
}

/*talleres*/
@keyframes entrada {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

.talleres-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 3.125rem;

    img {
        width: 100%;
    }

    div {
        height: 100%;
    }

    h2 {
        font-size: $font-size-h2;
        color: $color-font;
        text-align: center;
    }

    p {
        font-size: $font-size-p2;
        text-align: center;
        padding:0 0 1.5rem ;
    }

    article {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
    }


    section {
        animation: entrada 700ms ease;
        animation-fill-mode: backwards;
        --stagger-delay: 100ms;
        transition: transform .2s; 

        &:hover {
            transform:scale(1.08);
        }

        &:nth-child(1) {
            animation-delay: calc(1 * var(--stagger-delay));
        }
        
        &:nth-child(2) {
            animation-delay: calc(2 * var(--stagger-delay));
        }

        &:nth-child(3) {
            animation-delay: calc(3 * var(--stagger-delay));
        }

        &:nth-child(4) {
            animation-delay: calc(4 * var(--stagger-delay));
        }
        
    }
   
}

.talleres-boton {
    border: none;
    padding: 12px;
    color: white;
    background-color: rgba(18, 90, 246, 0.657);
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
  }
  