//banners

.titulo-quienes, .titulo-arduino, .titulo-talleres, .titulo-descargas, .titulo-contacto {
    color: $color-font2;
    padding: 6.25rem;
    background-size: cover;
    background-position: center; 
    margin-bottom: 0.93rem;
    
    h1 {
        font-size: 3.1rem;
        text-align: left;
    }
}

.titulo-arduino {
    background-image: url(../imagenes/talleres/banner2.jpg);
}

.titulo-quienes {
    background-image: url(../imagenes/talleres/banner1.jpg);
}

.titulo-talleres {
    background-image: url(../imagenes/talleres/banner3.jpg);
}

.titulo-descargas {
    background-image: url(../imagenes/talleres/banner4.jpg);
}

.titulo-contacto {
    background-image: url(../imagenes/talleres/banner5.jpg);
}