/*footer*/

.footer-arduino {
    
    section{
        background-color: #4B3f72;
        @include flex-box (column,flex-start,flex-start);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
    }

    article {
        padding: 20px;
        
    }

    p {
        color: $color-font2;
        font-size: $font-size-p2;
        max-width: 350px;
    } 

    //links y contacto
    li {
        list-style: none;
        color: $color-font2;
        font-size: 1.1rem;
        padding-top: 0.5rem;
        
    }

    //titulos de footer
    h5 {
        color: $color-font2;
        font-size: $font-size-p2;
        margin-bottom: 0;   
    }
}

.footer-logo {
    width: 100px;
}

.footer-redes img {
    width: 34px;
    opacity: 1;
}

.footer-contacto,.footer-links,.footer-dev {
    a {
        text-decoration: none;
        color: $color-font2;
        &:hover{
            color: #1f2041;
        }
    }
}