/*redes flotantes*/

.redes-flotantes {
    display: none;

    @media screen and (min-width:600px) {
    
        display: none;
    }

    @media screen and (min-width: 800px) {

        display: grid;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 6.25rem;
    }
}


    .redes-img {
        
        @media screen and (min-width: 800px) {       
        width: 2.5rem;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}