/*redes flotantes*/

.redes-flotantes {
    display: none;

    @media screen and (min-width: 1000px) {

        display: grid;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 7rem;
        margin-right: 15px;

        .redes-img {
            
            width: 2.5rem;
            opacity: 0.5;
    
            &:hover {
                opacity: 1;
            }
        }
        
    }
}


