/*Arduino básico*/

.arduinobasico-videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 1.5rem;

    iframe{
        width: 100%;
    }
}

.arduino-basico-continuacion {
    @include flex-box (column, center, center);
}

.arduinobasico-main  {
    p {
        font-size: $font-size-p;
        text-align: center;
        padding: 0.625rem;
    }

    section {
        padding: 0.625rem;
    }

    img {
        width: 150px;
    }
}
