/*Descargas*/

.descargas-main {
    margin-left: 1rem;
    margin-right: 1rem;
   
    
    h2 {
        font-size: $font-size-h2;
        color: $color-font;
        text-align: center;
    }

    p {
        font-size: $font-size-p;
        text-align: center;
    }

    ul {
        margin-left: 6.25rem;
        margin-bottom: 0.93rem;

        li {
            padding: 1rem;
            font-size: $font-size-p2;
            list-style: none;

            a {
                font-size: 1.5rem;
            }


            //imagen de lista de descargas
            ::before {
                content: url(../../imagenes/Iconos-isometricos/64/arduino_uno_2_64.png);
                position: relative;
                left: -1em;
                top: 1em;
            }

        }
    }
}