/*index*/

.principal1 {
    img {
        width: 100%;
        animation: entrada 700ms ease-in;
  }
}

.arduino-index0 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1.25rem;
    margin: 2.5rem;

}

.placa-div img {
    width: 100%;
}

#logo-arduino-negro {
    width: 150px;

}
