
//imagen grande principal de index
.principal1 {
    img {
        width: 100%;
        animation: entrada 700ms ease-in;
  }
}

//imagen de placa que va a lado de texto
.placa-div img {
    width: 100%;
}

//logo con borde negro, tiene animacion en desktop
#logo-arduino-negro {
    width: 150px;

}

//texto principal 
.arduino-index0 {
    margin: 2.5rem;
    h1 {
        font-size: $font-size-h1;
        color: $color-font; 
        text-align: center;
        padding: 0.93rem;
    } 
        
    p {
        font-size: $font-size-p;
        text-align: justify;
        padding: 1rem;
    }
    a {
        @include flex-box (row, center, center)
        
    }
}