//grid de imagenes y texto

.quienessomos-section1 {
    display: grid;
    gap: 2rem;
    margin: 3rem;
}

.quienessomos-main {
    h2 {
        font-size: $font-size-h2;
        color: $color-font;
        text-align: center;
      }

    h3 {
        font-size: $font-size-h2;
        text-align: center;
    } 

    img, article {
        max-width: 100%;
    }

    img {
        padding: 2rem;
    }

    p {
        font-size: $font-size-p;
        text-align: center;

    }
}