.boton {
    border: none;
    padding: 12px;
    color: $color-font-button;
    background-color: $color-bg-button;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
}